
:root {
    --mobile_size: 1100px;
    --reg_padding:  50px;

}


@font-face {
	font-family: 'ABC Helveesti Spikes';
	src: url('./fonts/ABCHelveestiSpikes-Regular-Trial.ttf'); 
	src: 
		local('ABC Helveesti Spikes'),
		local('ABC Helveesti Spikes'),
		url('./fonts/ABCHelveestiSpikes-Regular-Trial.ttf') 
		format('opentype');
}

@font-face {
	font-family: 'ArthemysDisplay';
	src: url('./fonts/ArthemysDisplay-Regular.ttf'); 
	src: 
		local('ArthemysDisplay'),
		local('ArthemysDisplay'),
		url('./fonts/ArthemysDisplay-Regular.ttf') 
		format('truetype');
}

@font-face {
	font-family: 'ArthemysDisplay-light';
	src: url('./fonts/ArthemysDisplay-Light.ttf'); 
	src: 
		local('ArthemysDisplay-light'),
		local('ArthemysDisplay-light'),
		url('./fonts/ArthemysDisplay-Light.ttf') 
		format('opentype');
}


@font-face {
	font-family: 'ArtDystopia';
	src: url('./fonts/ArtDystopia.ttf'); 
	src: 
		local('ArtDystopia'),
		local('ArtDystopia'),
		url('./fonts/ArtDystopia.ttf') 
		format('truetype');
}

html,
body,
*{
    max-width: 100%;
    box-sizing: border-box;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

*::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
}


h1,
h2{
    text-align: center;
}

img{
    max-width: 100%;
    object-fit: contain;
}

.fixed{
    position: fixed !important;
    width: 100%;
}

.subheadline{
    margin: 0;
    font-family: ArthemysDisplay-light;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4b4c56; */
    font-size: 23px;
    letter-spacing: 2px;
    color: #343232;
    z-index: 99;
    padding-top: 20px;
}


.flexcolumn{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.flexrow{
    display: flex;
    flex-direction: row;
    justify-items: center;

    justify-content: center;
}

.column{
    display: inline-block;
    position: relative;
    max-height: 65vh;
}
.column:first-of-type{
    margin-right: 50px;
}

.content-column{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 600px;
    padding-bottom: 20vh;
    max-height: 75vh;
    /* margin-top: -200px;
    padding-top:200px;
    max-height: calc(65vh + 400px); */
}
.description-column{
    max-width: 500px;
    min-width: 500px;
}
.masked-overflow {
    mask-image: linear-gradient(to bottom, transparent 0%, black 2%,black 98%,  transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 2%, black 98%, transparent 100%);
}

body {
    background-color: white;
    margin: 0px;
    color: black;
    font-family: ABC Helveesti Spikes;
    font-size:28px;

}

p{
    font-family: ArthemysDisplay; 
}

.bodybackground{
    background-image: url("./../reboot_img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;

}
canvas {
    background-color: #444444;
    border: 0px solid #444444;
    -webkit-filter: grayscale(90%) brightness(150%) blur(10px) sepia(10%); 
  filter: grayscale(90%) brightness(150%) blur(10px) sepia(10%);


  opacity: 0.6;
position: absolute;
width: 100%;
height: 100%;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  z-index: -99999;
}

#logo{
    margin-top: 20px;
    width: 45%;
    justify-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo img{
  max-width: 100%;
  object-fit: contain;
}

.work_logo{
    margin-top: 20px;
    width: 25%;
    max-width: 230px;
}


.headline_container{
    position: relative;
    width: 100%;

   

}
.headline_container h1{
    text-align: center;
    min-width: 100%;
    margin: 0;

}


.headline_container h1:first-of-type{
    font-family: ArtDystopia;
    -webkit-text-stroke-width: 0.1px;
    letter-spacing: 8px;
    filter: blur(0px);

    margin-top: 5px;
    /* -webkit-text-stroke-color: #fab267; */
    text-shadow:
    -2px -2px 0 #fab267,
    0   -2px 0 #fab267 ,
    2px -2px 0 #fab267,
    2px  0   0 #fab267,
    2px  2px 0 #fab267,
    0    2px 0 #fab267,
    -2px 2px 0 #fab267,
    -2px  0   0 #fab267;
    color: #e48fcf;
    font-size: 56px;
    position: relative;
    line-height: 56px;

 
}

.headline_container h1:last-of-type{
   font-family: ABC Helveesti Spikes;
    font-weight: 1;
    text-shadow:
      -1px -1px 0 #3f3f3f,
       0   -1px 0 #3f3f3f,
       1px -1px 0 #3f3f3f,
       1px  0   0 #3f3f3f,
       1px  1px 0 #3f3f3f,
       0    1px 0 #3f3f3f,
      -1px 1px 0 #3f3f3f,
      -1px  0   0 #3f3f3f;

    color: #e2e2e2;
    font-size: 56px;
    line-height: 56px;
    position: absolute;
    top: 0;
}




#header_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_link {
   font-family: ABC Helveesti Spikes;
   /* outline: #4b4c56; */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #4b4c56;
   color: #a0a3b9;
   font-size: 22px;
   padding: 30px;
}

.header_link.right {
    position: fixed;
    top: 0;
    right: 0;
 }

 .header_link.left {
    position: fixed;
    top: 0;
    left: 0;
 }

.project_title{
    Font: Art Dystopia;
    Outline: #fab267;
    color: #e48fcf;

}


.centering{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}


.container{
    padding: var(--reg_padding);
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 700px;

}

.paddedcontainer{
    padding: var(--reg_padding);
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 700px;

}


.backgroundimage{
    opacity: 0.1;
}
/* grid */

a{
    font-family: ABC Helveesti Spikes;
    /* outline: #4b4c56; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4b4c56;
    color: #a0a3b9;
    font-size: 22px;
    text-decoration: none;

} ul{
    max-width: 1450px;
    left: 50%;
    transform: translate(0, 0);
    display: flex;
    align-content: space-between;
    justify-content: center;
    padding: var(--reg_padding);
    flex-wrap: wrap;
    top: 0;
    gap: 60px 70px; 
} ul a{
    display: block;
    text-align: center;
    width: 20%;
} ul a li{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    position: relative;
    height: 100%;
} ul a li div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} ul li img{
    width: 100%;
    -webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: 1s ease-in-out;
	transition: .3s ease-in-out;
} ul li img:hover{
        -webkit-filter: blur(20px);
        filter: blur(20px);
} ul li span{
    width: 100%;
    margin-top: 10px;
    position: relative;
    bottom:0;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.link_list{
    max-width: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    padding:0px;
    left:0;
    top: 0;
    flex-wrap: wrap;
    top: 0;
    gap: 10px 10px; 
    margin: 0;
}
.link_list a{
    width: 30%;
} 
.link_list a::before{
content: "¤    "
}     
.dots{
    font-size: 1px;
    max-height: 0;
}
.textcontainer{
    height: auto;
}
.myBtn{
    position: absolute;
    bottom: 1em;
}
.overscroll_banned{
    overflow-y: hidden !important;
}



.frame{

    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    
}
.frame img{
   max-width: 100%;
   object-fit: contain;
}
.frame-border{
    z-index: 99999;

    pointer-events: none;

}
.swiper{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 35%;
    width: 90%;
    height: 80% !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: "" !important;
}

  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-image: url("../reboot_img/frame-elements/frame-bg.jpg");

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  /* .slider-image-in-frame{
      display: flex;
      position: relative;
      height: 100%;
      max-width: 100%;
      overflow: hidden;
  }

  .slider-image-in-frame div{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.portrait {
    height: 100%;
    position: relative;
}
.portrait .slider-item{
    height: 100%;
    object-fit: contain;
}

.landscape{
    width: 100%;
    position: relative;
}
.landscape .slider-item {
    width: 100%;
    object-fit: contain;

}

  /* .swiper-slider iframe,
  .swiper-slide img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  } */
  /* .landscape{
    width: 100%;
    height: auto;
    max-height: 100%;
  } */
  .leftborder{
      margin-left: -4px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      /* max-width: 10px !important; */

      
  }
  .rightborder{
    margin-right: -4px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    /* max-width: 10px !important; */
}
.topborder{
    margin-top: -3px;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    width: 100%;


}
.bottomborder{
  margin-bottom: -3px;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  width: 100%;
}


.content-background{
    content: '';
    background-image: url("./../reboot_img/detail-background.jpg");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
}

.content{
    position: relative;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    height: 100%;
    border: 3px solid #7c7d8e;
    outline: solid 3px #66667a;
    outline-offset: 0px;
    border-radius: 35px;
    -moz-box-shadow:    inset 0 0 5px #767689;
    -webkit-box-shadow: inset 0 0 5px #767689;
    box-shadow:         inset 0 0 5px #767689;
    display: flex;
    flex-direction: column;
}

.framecorner{
    position: absolute;
    max-width: 17%;
    pointer-events: none;
}
.topleft{
    top: 0;
    left: 0;
    transform: translate(-20%,-20%);
}
.topright{
    top: 0;
    right: 0;
    transform: scaleX(-1) translate(-20%,-20%);
}
.bottomright{
    bottom:0;
    right:0;
    transform: scaleX(-1) scaleY(-1) translate(-20%,-20%);

}
.bottomleft{
    bottom: 0; 
    left:0;
    transform: scaleY(-1) translate(-20%,-20%);}


.sideright{
    right: 0;
    TOP:0;
    transform:  scaleX(-1) translate(-20%, -50%);
}
.sideleft{
    left: 0;
    top: 0;
    transform: scaleX(1) translate(-20%,  -50%);
}


.smaller{
    max-width: 14%;
}

.content_chapter{
    padding: 27px;
    position: relative;
    transition: height 200ms ease-in;
    height: 20%;
}

.textcontainer{
    overflow-y: scroll;
    max-height: 70%;
}
.textcontainer p:first-of-type{
   margin: 0;
}


.content div a,
.content div p{
    font-size: 12px;


}
.content_chapter_headline{
    margin-top: 0;
}


.links,
.credits{
    border-top: 3px solid #7c7d8e;
    -moz-box-shadow:    inset 0 3px #767689;
    -webkit-box-shadow: inset 0 3px #767689;
    box-shadow:        inset 0 3px #767689;
}


.soundcloud_container{
    width: 100%;
    display: block;
    position: relative;
    margin-top: 100px;
}
.border_bottom{
    position: absolute;
    bottom: 0;
    left:0;

}
.border_top{
    position: absolute;
    top: -10%;
}




.more {display: none;}

#lightbox{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.click-handling-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
}

.lightbox-item{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 900px;
    height: auto;
}

.lightboxswiper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 900px;
    height: auto;
}


.lightboxswiper .click-handling-overlay{
    display: none!important;
}

.lightboxswiper .swiper-button-next img,
.lightboxswiper .swiper-button-prev img,
.lightboxswiper .slider-item{
    display: block;
}
/* .lightboxswiper .swiper-slide{
    background-image: none;
} */
.lightboxswiper.swiper{

    border-radius: 0;

}

.lightboxswiper iframe{
    width:8000px; 
    height: 450px;
    max-width: 100%;
    object-fit: contain;
}

.lightboxswiper .swiper-button-prev img{
    display: block;
}

@media only screen and (max-width: 1100px) {

    .masked-overflow {
        mask-image: linear-gradient(to bottom, black 0%,black 100%);
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 100%);
    }

    .fixed{
        position: relative !important;
    }
    #logo{
        margin-top: 50px;
        width: 90%;
        justify-self: center;
    }



    .header_link {
        padding: 20px;
     }

     ul a{
        display: block;
        text-align: center;
        width: 40%;
    }
    .container,
    ul {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;

    }
    p{
        font-size: 17px;
    }

    .header_link.right {
        position: absolute;
        top: 0;
        right: 0;
     }

     .header_link.left {
        position: absolute;
        top: 0;
        left: 0;
     }



    .frame{
        width: 100%;
 
    }
    .flexrow{
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .column{
        max-width: 90%;
        padding-top: 50px;
        padding-bottom: 50px;
        max-height: 100%;;
    }
    .column:first-of-type{
        margin-right: 0px;
    }

    .description-column{
        max-width: 90%;
        min-width: 0px;
    }

    .swiper{
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 35%;
        width: 85%;
        height: 90% !important;
    }

    .sideright.smaller{
        right: 0;
        transform: scaleX(-1) translate(-20%, -50%);
    }
    .sideleft.smaller{
        left: 0;
        transform: scaleX(1) translate(-20%, -50%);
    }

    .sideright{
        right: 0;
        transform: scaleX(-1) translate(-20%, -50%);
    }
    .sideleft{
        left: 0;
        transform: scaleX(1) translate(-20%, -50%);
    }

    .paddedcontainer{
        padding: 0px;
    
    }

    .content{
        max-width: 100%;
    
    }
    .column:last-of-type{
        padding-bottom: 50vh;
    }


    .lightboxswiper iframe{
        width:8000px; 
        height: 180px;
        max-width: 100%;
        object-fit: contain;
    }
    
    
    
}


@media only screen and (max-width: 700px) {
    .work_logo{
        width: 90%;
        max-width: 90%;
        margin-top: 50px
    }
    h1,
    h2{
        word-wrap: break-word;
    }
}


@media only screen and (max-width: 300px) {
    #logo{
        margin-top: 60px;
        width: 80%;
        justify-self: center;
    }

    a{
        font-family: ABC Helveesti Spikes;
        /* outline: #4b4c56; */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #4b4c56;
        color: #a0a3b9;
        font-size: 14px;
        text-decoration: none;
    
    }
    
    
}
